/* AppコンポーネントのCSSスタイル */
.app {
  display: flex;
  height: 100vh;
}

/* ChatRoomコンポーネントのCSSスタイル */
.chat-room {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f7f7f7;
  padding: 20px;
}

/* ChatListコンポーネントのCSSスタイル */
.chat-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat-list-item {
  margin-bottom: 10px;
}

.chat-list-item .message {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

.chat-list-item .sender {
  margin-bottom: 5px;
  font-weight: bold;
}

/* ChatInputコンポーネントのCSSスタイル */
.chat-input {
  position: fixed;
  width: 75%;
  bottom: 20px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  margin-left: 21%;
}

.chat-input input {
  flex-grow: 1;
  border: none;
  outline: none;
  margin-right: 10px;
}

.chat-input button {
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0071c6;
}

/* SidebarコンポーネントのCSSスタイル */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #f5f5f5;
}

.message-list {
  margin-left: 20%; /* Sidebarコンポーネントの幅に合わせて左にマージンを設定 */
  width: 80%; /* 残りの80%の幅を占めるように幅を設定 */
  background-color: #f5f5f5;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}


.message-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.message-left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message-inner {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.message-right .message-inner {
  background-color: blue;
  color: white;
}

.message-left .message-inner {
  background-color: white;
  color: #333;
}
