/* ChatRoomコンポーネントのCSSスタイル */
.chat-room {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #eaeaea;
  padding: 20px;
}

/* ChatListコンポーネントのCSSスタイル */
.chat-list-item .message {
  background-color: #ff4d4d;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* ChatInputコンポーネントのCSSスタイル */
.chat-input {
  position: fixed;
  width: 75%;
  bottom: 20px;
  display: flex;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  margin-left: 21%;
  background-color: #fff;
}

.chat-input input {
  flex-grow: 1;
  border: none;
  outline: none;
  margin-right: 10px;
}

.chat-input button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: 5%;
  margin-left: 1px;
}

.chat-input button:hover {
  background-color: #d63f3f;
}

/* SidebarコンポーネントのCSSスタイル */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  background-color: #282828;
  border-right: 1px solid #a4a4a4;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.sidebar li {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff4d4d;
  color: #fff;
}

.sidebar li:hover {
  background-color: #d63f3f;
}


.message-list {
  margin-left: 20%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  background-color: burlywood;
  overflow-y: auto;
  box-sizing: border-box; 
  padding-bottom: 6%;
}


.message-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.message-left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message-inner {
  max-width: 57%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.message-right .message-inner {
  margin-top: 10px;
  margin-right: 20px;
  background-color: blue;
  color: white;
}

.message-left .message-inner {
  margin-top: 10px;
  background-color: white;
  color: #333;
}

.message-right {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.download-icon {
  margin-top: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.download-icon2 {
  margin-top: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.play-icon:hover, .play-icon2:hover{
  color: #0084ff;
  }

.download-icon:hover, .download-icon2 :hover{
color: #0084ff;
}

.link{
  margin-top: 10px;
  background-image: '../images/homeImg.jpg';
}

.user-icon img {
  width: 50px;
}

.container {

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.logo h1{
  color: #eaeaea;
  font-size: 50px;
}

.logo img {
  width: 150px;
}

.links-container {
  margin-bottom: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.links a {
  font-size: 1.5rem;
  text-decoration: none;
background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  padding: 1.8rem 3rem;
  border: 2px solid rgba(255, 255, 255, 0. 1);
  border-radius: 50px;
  transition: all 0.3s ease;
}

.links a:hover {
  background-color: #fff;
  color: #000;
}

body{
  margin: 0px;
}





